#editor {
    width: 95%;
    height: 89vh;
    background-color: #ffffff;
    padding-top: 5px;
    padding-left: 15px;
}

.tile-row {
    display: flex;
}

.tile {
    border: 1px solid var(255, 255, 255, .7);
}



#tools {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 6px 10px 20px;
}


#top-bar {
    padding: 6px 0px 0px 20px;
}

.top-inline {
    display: inline-flex;
    padding: 10px 0px 3px 0px;
}



.bg-white {
    background-color: #fff;
    color: black;
}


.bg-dark {
    background-color: #2b2d42;
    color: white;
}


.btn-save-small {
    margin: 4px;
    text-align: center;
    font-size: .9em;
    padding: 6px 7px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border: 1px solid #2b2d42;
    background-color: transparent;
}

.btn-save-small:hover {
    background-color: #2b2d42;
    color: white;
}

#proj-name-input {
    border: transparent 1px solid;
    border-bottom: 1px solid #222;
    text-decoration: none;
    font-size: 15px;
    color: #222;
    font-weight: 400;
    min-width: 200px;
    padding: 4px;
    font-style: italic;
    outline: none;
    font-style: italic;
}


.tool {
    cursor: pointer;
    padding: 10px 0px 0px 5px;
    border: 1px dotted transparent;
    text-align: center;
}

.tool-selected {
    background-color: #2b2d42;
    fill: white;
}

.tool-active {
    background-color: #ef233c;
    fill: white;
}

.tool:hover {
    background-color: #2d2b42;
    fill: white;
}


#pallette-tools {
    padding: 10px 0px 0px 10px;
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
}

.pallette-tools-row {
    padding: 10px 0px 0px 10px;
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
}


@media only screen and (max-width: 830px) {
    #editor {
        padding-left: 2px;
        padding-top: 2px;
        width: 95%;
        height: 85vh;
    }
  }