.pallette-container {
    width: 100%;
    padding: 15px 2px 40px 2px;
}



#pallette {
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}



.color-tile {
    border-radius: 3px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 4px;
}