#welcome {
    width: 100vw;
    display: grid;
}


.bg-colorful {
    background-color: #2b2d42;
}
#select-project {
    width: 300px;
    margin: auto;
}


.btn-welcome {
    margin: 10px;
    text-align: center;
    font-size: 1.4em;
    padding: 10px 14px;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border: 1px solid #2b2d42;
    background-color: transparent;
}

.dark-btn {
    background-color: #2b2d42;
    color: white;
}